/* :where() gives the styles specificity 0, which makes them overridable */
:where(.vi__wrapper) {
  position: relative;
  width: min-content;
}

.vi {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  color: transparent;
  background: transparent;
  caret-color: transparent;
  outline: none;
}

.vi::selection {
  background: transparent;
}

.vi--debug {
  left: 0;
  bottom: -70px;
  opacity: 1;
  transform: scale(1);
}

:where(.vi__container) {
  display: flex;
  gap: 8px;
  height: 50px;
  width: 300px;
}

:where(.vi__character) {
  height: 100%;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  font-size: 36px;
  line-height: 50px;
  color: black;
  background-color: white;
  border: 1px solid black;
  cursor: default;
  user-select: none;
  box-sizing: border-box;
}

:where(.vi__character--inactive) {
  color: dimgray;
  background-color: lightgray;
}

:where(.vi__character--selected) {
  outline: 2px solid cornflowerblue;
  color: cornflowerblue;
}
