.vi__wrapper {
  position: relative;
}

.vi {
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  left: -2000px;
  opacity: 0;
  transform: scale(0);
}

.vi--debug {
  left: 0;
  bottom: -70px;
  opacity: 1;
  transform: scale(1);
}

.vi__container {
  display: flex;
}

.vi__container--default {
  height: 50px;
  width: 300px;
}

.vi__character {
  height: 100%;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

.vi__character--default {
  font-size: 36px;
  line-height: 50px;
  color: black;
  background-color: white;
  margin-left: 8px;
  border: 1px solid black;
  cursor: default;
  user-select: none;
  box-sizing: border-box;
}

.vi__character--default:first-child {
  margin-left: 0;
}

.vi__character--inactive--default {
  color: dimgray;
  background-color: lightgray;
}

.vi__character--selected--default {
  outline: 2px solid cornflowerblue;
  color: cornflowerblue;
}
