$input-height: 50px;

.verification-input__wrapper {
  position: relative;
}

.verification-input {
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  left: -2000px;
  opacity: 0;
  transform: scale(0);
}

.verification-input--debug {
  left: 0;
  bottom: -70px;
  opacity: 1;
  transform: scale(1);
}

.verification-input__container {
  display: flex;
}

.verification-input__container--default {
  height: $input-height;
  width: 300px;
}

.verification-input__character {
  height: 100%;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

.verification-input__character--default {
  font-size: 36px;
  line-height: $input-height;
  color: black;
  background-color: white;
  margin-left: 8px;
  border: 1px solid black;
  cursor: default;
  user-select: none;
  box-sizing: border-box;

  &:first-child {
    margin-left: 0;
  }
}

.verification-input__character--inactive--default {
  color: dimgray;
  background-color: lightgray;
}

.verification-input__character--selected--default {
  outline: 2px solid cornflowerblue;
  color: cornflowerblue;
}
